<footer class="bg-dark text-center text-white pad-top-xs pad-bottom-xs grid-center">
  <div class="col-2_sm-4 grid-middle-spaceBetween pad-top-xs">
    <a href="mailto:yenmakerspace@gmail.com" target=blank><img src="/images/envelope.png" alt="email" class="icon"/></a>
    <a href="https://www.facebook.com/YEN-maker-581275005355047/" target=blank><img src="/images/facebook.png" alt="facebook" class="icon"/></a>
    <a href="https://www.instagram.com/yenmaker/" target=blank><img src="/images/instagram.png" alt="instagram" class="icon"/></a>
  </div>
  <h6 class="col-12 pad-top-xs"> <i class="fa fa-copyright" aria-hidden="true"></i> <a href="http://cnxweb.site" target=blank>CNX Web</a> for Yen Maker <script type="text/javascript">
document.write(new Date().getFullYear());</script></h6>
</footer>
