<header id="header" class="header-section">
  <nav class="nav">
    <div id="nav-icon3">
      <div id="nav-lines">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="says-menu">Menu</div>
    </div>
  </nav>
  <nav id="sidebar" class="sidebar">
    <div class="pad-top-l pad-all-s main">
      <p><a href="/">Home</a></p>
      <p><a href="/about">About</a></p>
      <p><a href="/collections">Collections</a></p>
      <p><a href="">Cart <span>(5)</span></a></p>
    </div>
    <div class="pad-top-m pad-all-s">
      <p class="sublinks"><a href="">FAQ &amp; Shipping</a></p>
      <p class="sublinks"><a href="">Terms &amp; Conditions</a></p>
    </div>
    <!-- <div class="grid-spaceAround pad-top-xs">
      <a href="mailto:yenmakerspace@gmail.com" target=blank><img src="/images/envelope.png" alt="email" class="icon-side-nav"/></a>
      <a href="https://www.facebook.com/YEN-maker-581275005355047/" target=blank><img src="/images/facebook.png" alt="facebook" class="icon-side-nav"/></a>
      <a href="https://www.instagram.com/yenmaker/" target=blank><img src="/images/instagram.png" alt="instagram" class="icon-side-nav"/></a>
    </div> -->
  </nav>
  <div class="text-center go fuck yourself ">
    <a href="/"><img src="/images/yenmakerlogo-small.jpg" alt="yen maker logo" class="logo"/></a>
  </div>
</header>
