* {
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}


/* typography */
h1 {
  font-family: 'Maitree', serif;
}
h2 {
  font-family: 'Maitree', serif;
  /* font-size: 2em;
  margin: 0.5em 0; */
}
h3 {
  font-family: 'Maitree', serif;
  font-weight: lighter;
  /* font-size: 1.2em;
  margin: 0; */
}
h4 {
  font-weight: lighter;
  /* font-size: 1.5em;
  margin: 0; */
}
h5 {
  /* font-size: 1em;
  margin: 0; */
}
h6 {

}
p {
  font-weight: 300;
}
ul {
  line-height: 1.5;
  padding-left: 20px;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-white {
  color: white;
}

/* buttons and links */
.button-main {
  padding: 1em 10%;
  background-color: #97abb1;
  border: none;
  border-radius: 1px 25px;
  font-size: 1em;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.button-main:hover {
  border-radius: 0 40px;
  border: none;
}


/* sections */
section {
  padding: 2% 7%;
}
/* .wide-section {
  padding: 2.5% 10%;
}
.space-left {
  padding-left: 1%;
}
.space-right {
  padding-right: 1%;
}
.start-button {
  padding-top: 1%;
  padding-bottom: 2%;
} */
@media all and (max-width:1024px) {
  /* .space-left {
    padding-left: 0;
  }
  .space-right {
    padding-right: 0;
  }
  .start-button {
    padding-top: 3%;
    padding-bottom: 2%;
  } */
}
@media all and (max-width:576px) {
  /* section,.wide-section {
    padding: 5%;
  }
  .start-button {
    display: none;
  } */
}


/* backgrounds and containers */
.bg-white {
  background-color: white;
}
.bg-grey {
  background-color: rgba(151, 171, 177, 80);
}
.bg-gold {
  background-color: rgba(199, 180, 115, 80)
}
.box-shadow {
  box-shadow: box-shadow: 2px 2px 10px #cdd5d1;
}


/* header and nav styles */
nav {
  position: fixed;
  height: 45px;
  width: 100%;
  z-index: 9999;
}
nav h2 {
  font-size: 1em;
  font-weight: lighter;
}
.logo {
  padding-top: 45px;
  height: 20vh;
  width: auto;
}
/* .header-section {
  padding-top: 45px;
} */

/* hero styles */
.hero-section {
  padding: 0 7%;
  height: 70vh;
  margin-bottom: 10vh;
}
.hero-image-home {
  background-image: url("/images/yenmakerworkshop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  overflow-y: hidden;
}


/* overlaps */
.overlap-over-left {
  position: relative;
  z-index: 99;
  background-color: white;
  min-height: 330px;
  min-width: 450px;
}
.overlap-under-right {
  position: absolute;
  margin-left: 27.5%;
  margin-top: -1.5%;
  padding: 7% 3% 7% 15%;
  min-height: 370px;
  min-width: 550px;
}
.overlap-under-left {
  position: absolute;
  margin-top: -1.5%;
  padding: 7% 14% 7% 4%;
  min-height: 370px;
  min-width: 550px;
}
.overlap-over-right {
  position: relative;
  z-index: 99;
  margin-left: 49%;
  background-color: white;
  min-height: 330px;
  min-width: 450px;
}
@media all and (max-width:1024px) {

}
@media all and (max-width:1024px) {

}
@media all and (max-width:576px) {
  .overlap-over-left {
    position: static;
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 2%;
  }
  .overlap-under-right {
    position: static;
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 2%;
  }
  .overlap-under-left {
    position: static;
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 2%;
  }
  .overlap-over-right {
    position: static;
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 2%;
  }
}


/* padding and margin helpers */
.height100 {
  height: 100vh;
}
.height75 {
  height: 75vh;
}
.height50 {
  height: 50vh;
}
.height25 {
  height: 25vh;
}
.pad-all-xs {
  padding: 1%;
}
.pad-all-s {
  padding: 5%;
}
.pad-all-m {
  padding: 10%;
}
.pad-all-l {
  padding: 20%;
}
.pad-top-xs {
  padding-top: 1%;
}
.pad-top-s {
  padding-top: 5%;
}
.pad-top-m {
  padding-top: 10%;
}
.pad-top-l {
  padding-top: 20%;
}
.pad-top-xl {
  padding-top: 25%;
}
.pad-right-xs {
  padding-right: 1%;
}
.pad-right-s {
  padding-right: 5%;
}
.pad-right-m {
  padding-right: 10%;
}
.pad-right-l {
  padding-right: 20%;
}
.pad-right-xl {
  padding-right: 40%;
}
.pad-bottom-xs {
  padding-bottom: 1%;
}
.pad-bottom-s {
  padding-bottom: 5%;
}
.pad-bottom-m {
  padding-bottom: 10%;
}
.pad-bottom-l {
  padding-bottom: 20%;
}
.pad-left-xs {
  padding-left: 1%;
}
.pad-left-s {
  padding-left: 5%;
}
.pad-left-m {
  padding-left: 10%;
}
.pad-left-l {
  padding-left: 20%;
}
.pad-none {
  padding: 0;
}
.margin-all-xs {
  margin: 1%
}
.margin-all-s {
  margin: 5%
}
.margin-all-m {
  margin: 10%
}
.margin-all-l {
  margin: 20%
}
.margin-top-xs {
  margin-top: 1%
}
.margin-top-s {
  margin-top: 5%
}
.margin-top-m {
  margin-top: 10%
}
.margin-top-l {
  margin-top: 20%
}
.margin-right-xs {
  margin-right: 1%
}
.margin-right-s {
  margin-right: 5%
}
.margin-right-m {
  margin-right: 10%
}
.margin-right-l {
  margin-right: 20%
}
.margin-right-xl {
  margin-right: 40%;
}
.margin-bottom-xs {
  margin-bottom: 1%
}
.margin-bottom-s {
  margin-bottom: 5%
}
.margin-bottom-m {
  margin-bottom: 10%
}
.margin-bottom-l {
  margin-bottom: 20%
}
.margin-left-xs {
  margin-left: 1%
}
.margin-left-s {
  margin-left: 5%
}
.margin-left-m {
  margin-left: 10%
}
.margin-left-l {
  margin-left: 20%
}
.margin-none {
  margin: 0;
}
